<div class = "showtimerow ">
<div class="field-hor">
    <%= f.label :date %>
    <%= f.text_field :date, :class=>'datepicker' %>
  </div>
  <div class="field-hor">
    <%= f.label :time %>
    <%= f.time_select :time %>
  </div>
  <div class="field-hor">
    <%= f.label :price %>
    <%= f.text_field :price, :class => "" %>
  </div>
  <div class="field-hor">
    
    <%= f.label :showtype, 'Show Type'%>
        <%= f.select :showtype, options_for_select(["Matnee", "Evening", "Preview", "Premiere"]) %>
  </div>
  <%if f.object.deletable_bis%>
   <div class="field-hor">
    <%= f.check_box :_destroy, class: "remove_showtime"%>
    <%= f.label :_destroy, "Remove Showtime" %>
  </div>
    <%end%>
    <%#= f.object.deletable_bis%>

  
  
  
</div>
