<div class = "showtimerow clearfix">
<div class="field-hor">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div class="field-hor">
    <%= f.label :time %>
    <%= f.time_select :time %>
  </div>
  <div class="field-hor">
    
    <%= f.label :showtype, 'Show Type'%>
        <%= f.select :showtype, options_for_select(["Matnee", "Evening", "Preview", "Premiere"]) %>
  </div>

  <%= f.check_box :_destroy, class: "remove_showtime"%>
  <%= f.label :_destroy, "Remove Showtime" %>
  
  
</div>
