<h3>Whats's on</h3>

<table class="table table-stripped">
  

<% @showitems.each do |showitem| %>
<%if user_is_admin%>
    <%=render 'layouts/adminlinks', :showitem=>showitem%>
    <%end%>
  <tr>
    
    <td width="180"><%=link_to showitem do %><%= image_tag showitem.image_url(:thumb)%><%end%></td>
    <td><h3><%=link_to showitem do %><%= showitem.name %><%end%></h3>
      <span style="color:#111"><%= Mul.more_than_one?(showitem, 'showtimes', 'Starts:') %></span>
      <h5><%= showitem.showtimes.first.date.to_s(:def) unless showitem.showtimes.empty? %></h5>
    </td>
    
    
    
    <td><h2><%= link_to 'Show', showitem, :class=>'btn btn-block' %></h3></td>

  </tr>
  
<% end %>
</table>

<br />
<%if user_is_admin%>
  <%= link_to 'New Showitem', new_showitem_path, :class=>'btn btn-block' %>
<%end%>