<h1>Listing showitems</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Featured</th>
    <th>Description</th>
    <th>Starts</th>
    <th>deletable?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @showitems.each do |showitem| %>
  <tr>
    <td><%= showitem.name %></td>
    <td><%= showitem.image %></td>
    <td><%= showitem.featured %></td>
    <td><%= showitem.description %></td>
    <td><%= showitem.showtimes.first.date.to_s(:def) unless showitem.showtimes.empty? %></td>
    <td><%=showitem.ensure_not_have_showtime%></td>
    <td><%= link_to 'Show', showitem %></td>
    <td><%= link_to 'Edit', edit_showitem_path(showitem) %></td>
    <td><%= link_to 'Destroy', showitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Showitem', new_showitem_path %>
