<h1>
 
  <%= @showitem.name %>
</h1>

<p>
  <%= image_tag @showitem.image_url(:big) %>
</p>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Date</th>
    <th>Price start @</th>
    <th></th>
  </tr>
  <tbody>
  </thead>
  <% for i in @showitem.showtimes %>
    <%if i.soldout %>
    <tr class="soldout"> 
        <td><%= i.date.to_s(:def)%>&nbsp<%= i.time.to_s(:def)%></td> 
        <td> &#128 --</td>
        <td><%= link_to 'sold out','#', :class=>'btn btn-default btn-block disabled'%></td>
       </tr>
       
      <%else%>
      <tr> 
        <td><%= i.date.to_s(:def)%>&nbsp<%= i.time.to_s(:def)%></td> 
        <td> &#128 <%=i.price%></td>
        <td><%= link_to 'Book', i, :class=>'btn btn-block' %></td>
       </tr>
       <tr><%=render 'meter', :i =>i%></tr>
      
    <%end%>
  <%end%>
  </tbody>
</table>

<p>
  <b>Description:</b>
  <%= @showitem.description %>
</p>


<%= link_to 'Edit', edit_showitem_path(@showitem) %> |
<%= link_to 'Back', showitems_path %>
