
<p>
  <b>Seat:</b>
  <%= @ticket.seat %>
</p>

<p>
  <b>Price:</b>
  <%= @ticket.price %>
</p>

<p>
  <b>Showtime:</b>
  <%= @ticket.showtime %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
