
<div id="stage"><img alt="stage" src="/stage.png"></div>
<% offset =0 %>
    <ul class ="clearfix" id="A">
        <li class="buffer">A</li>
        <% for t in @showtime.tickets[offset,22] %>
        	<%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">A</li>
        <% offset += 22%>
    </ul>

	<ul class ="clearfix" id="B">
        <li class="buffer">B</li>
        <% for t in @showtime.tickets[offset,23] %>
        	<%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">B</li>
        <% offset += 23%>
    </ul>
    <ul class ="clearfix" id="C">
        <li class="buffer">C</li>
        <% for t in @showtime.tickets[offset,22] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">C</li>
        <% offset += 22%>
    </ul>
    <ul class ="clearfix" id="D">
        <li class="buffer">D</li>
        <% for t in @showtime.tickets[offset,23] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">D</li>
        <% offset += 23%>
    </ul>
    <ul class ="clearfix" id="E">
        <li class="buffer">E</li>
        <% for t in @showtime.tickets[offset,22] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">E</li>
        <% offset += 22%>
    </ul>
    <ul class ="clearfix" id="F">
        <li class="buffer">F</li>
        <% for t in @showtime.tickets[offset,23] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">F</li>
        <% offset += 23%>
    </ul>
    <ul class ="clearfix" id="G">
        <li class="buffer">G</li>
        <% for t in @showtime.tickets[offset,22] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">G</li>
        <% offset += 22%>
    </ul>
    <ul class ="clearfix" id="H">
        <li class="buffer">H</li>
        <% for t in @showtime.tickets[offset,23] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">H</li>
        <% offset += 23%>
    </ul>
    <ul class ="clearfix" id="J">
        <li class="buffer">J</li>
        <% for t in @showtime.tickets[offset,22] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">J</li>
        <% offset += 22%>
    </ul>
  <ul class ="clearfix" id="K">
        <li class="buffer">K</li>
        <% for t in @showtime.tickets[offset,23] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">K</li>
        <% offset += 23%>
    </ul>
    <ul class ="clearfix" id="L">
        <li class="buffer">L</li>
        <% for t in @showtime.tickets[offset,22] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">L</li>
        <% offset += 22%>
    </ul>
    <ul class ="clearfix" id="M">
        <li class="buffer">M</li>
        <% for t in @showtime.tickets[offset,23] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">M</li>
        <% offset += 23%>
    </ul>
    <ul class ="clearfix" id="N">
        <li class="buffer">N</li>
        <% for t in @showtime.tickets[offset,22] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">N</li>
        <% offset += 22%>
    </ul>
    <ul class ="clearfix" id="P">
        <li class="buffer">P</li>
        <% for t in @showtime.tickets[offset,23] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">P</li>
        <% offset += 23%>
    </ul>
    <ul class ="clearfix" id="Q">
        <li class="buffer">Q</li>
        <% for t in @showtime.tickets[offset,22] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">Q</li>
        <% offset += 22%>
    </ul>
    <ul class ="clearfix" id="R">
        <li class="buffer">R</li>
        <% for t in @showtime.tickets[offset,23] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">R</li>
        <% offset += 23%>
    </ul>
    <ul class ="clearfix" id="S">
        <li class="buffer">S</li>
        <% for t in @showtime.tickets[offset,22] %>
            <%=render 'showtimes/seat', :t=>t%>    
        <%end%>
        <li class="buffer">S</li>
        <% offset += 22%>
    </ul>

    
    




<br class="clear">
