<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @showtime.date %>
</p>

<p>
  <b>Time:</b>
  <%= @showtime.time %>
</p>

<p>
  <b>Showtype:</b>
  <%= @showtime.showtype %>
</p>

<p>
  <b>Showitem:</b>
  <%= @showtime.showitem.name %>
</p>


<%= link_to 'Edit', edit_showtime_path(@showtime) %> |
<%= link_to 'Back', showtimes_path %>
