<p id="notice"><%= notice %></p>

<div class="showinfo well" >
	<p><i>You are booking for:</i></p>
<p>
  <h3><%= @showtime.showitem.name %></h3>  
</p>
  <p><i><%= @showtime.date.to_s(:def) %> &nbsp <%= @showtime.time.to_s(:def) %></i> &nbsp <%= @showtime.showtype %> &nbsp</i><%= link_to (raw('<i class="icon icon-arrow-left"></i><i>&nbsp Change date</i>')), @showtime.showitem %> </p>
</div>

<div class ="seats">
	<table class="table striped" id="seatingplan" showtime-id='<%= @showtime.id%>'>
		
			<%= render "seatingplan"%>
		
    </table>
</div>

<%= link_to 'Edit', edit_showtime_path(@showtime) %> |
<%= link_to 'Back', showtimes_path %>
