<%if user_is_admin%>
 <ul class="nav navbar-nav ">
	<li><%= link_to 'ShowItems', showitems_path %></li>
	<li><%= link_to 'ShowTimes', showtimes_path %></li>
	<li><%= link_to 'ShowTimes', showtimes_path %></li>
	<li><%= link_to 'Tickets', tickets_path %></li>
	<li><%= link_to 'Carts', carts_path %></li>
	<li><%= link_to 'Line Items', line_items_path %></li>
	<li><%= link_to 'Orders', orders_path %></li>
</ul>
			<%end%>

<ul class="nav navbar-nav navbar-right">

    <% if user_signed_in? %>
      <li class="navbar-text"><%= current_user.email %> <%= current_user.role %></li>
      <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li></li>
     <li> <%= link_to "Sign up", new_user_registration_path %> </li>
     <li> <%= link_to "Login", new_user_session_path %></li>
    <% end %>
  </ul>