<!DOCTYPE html>
<html>
<head>
  <title>Venue</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  
  
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" id="adminbar">
		<div class="container">
			<div id="user_nav" class="pull-right">
				<%= render 'layouts/usernav'%>..
			</div>
		</div>
	</nav>

	<nav class="navbar navbar-static-top navbar-default">
		<div class="container">
			<%= link_to  root_path, id: "logo" do %>
  				<img src="/tor-logo.png"%>
  
			<% end %>
			
			<div class="pull-right" id="main-nav">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'ShowItems', showitems_path %></li>
				<li><%= link_to 'ShowTimes', showtimes_path %></li>
				<li><%= link_to 'ShowTimes', showtimes_path %></li>
				<li><%= link_to 'Tickets', tickets_path %></li>
				<li><%= link_to 'Carts', carts_path %></li>
				<li><%= link_to 'Line Items', line_items_path %></li>
			</ul>
			</div>
		</div>
	</nav>
<div class="container">
	<div class="row">
		<div id="flash">
  		<% flash.each do |name, msg| %>
    		<%= content_tag :div, msg, :id => "flash_#{name}" %>
  		<% end %>
	</div>
	</div>
</div>
<div class="container">
	
	
	<div class="row">

		<div class="col-md-8">
			<%= yield %>
		</div>

		<div class="col-md-4">
			<%if user_is_admin%>
				<p>Admin</p>
			<%end%>
			<%if current_user && !user_is_admin%>
				<p>Nobody</p>
			<%end%>

			
		<div id="cart">
	      <% if @cart%>
	          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
	              <%= render :partial => 'carts/cart', :object => @cart %>
	          <% end %>
	      <% end %>
    	</div>
		</div>

		</div>
	</div>
  <%= javascript_include_tag "application" %>
</body>
</html>
