<!DOCTYPE html>
<html ng-app>
<head>
  <title>Venue</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
    
  
  
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='tray'>
	<div class='container'>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
</div><!-- /.modal -->







	
	<nav class="navbar navbar-inverse navbar-fixed-top" id="adminbar">
		<div class="container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user_nav">
				<%if user_is_admin %>
					<span class="glyphicon glyphicon-user" style="color:#900"></span>
				<%elsif user_signed_in?%>
			      <span class="glyphicon glyphicon-user"></span>
			      <%else%>
			      <span class="glyphicon glyphicon-lock"></span>
			      
			      <%end%>
			    </button>
			<div id="user_nav" class="collapse navbar-collapse">
				<%= render 'layouts/usernav'%>
			</div>
		</div>
	</nav>

	<nav class="navbar navbar-static-top navbar-default">
		<div class="container">
			
			 <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">

			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <%=link_to  root_path, id: "logo", class: 'brand' do %>
  					<img src="/tor-logo.png"%>
  
				<% end %>
			  </div>

			<div class="collapse navbar-collapse" id="main-nav">
				<%= render 'layouts/adminmenu'%>
			</div>
		</div>
	</nav>
	<div class="container">
	<%= render 'layouts/slider' if @homepage %>
</div>
<div class="container">
	<div class="row" id='flash'>
		<% [:notice, :error, :alert].each do |level| %>
			<% unless flash[level].blank? %>
				<div class="alert alert-<%= flash_class(level) %> fade ">
				<a class="close" data-dismiss="alert" href="#">×</a>
					<%= content_tag :p, flash[level] %>
				</div>
			<% end %>
		<% end %>
	</div>
	</div>
</div>
<div class="container">
	
	
	<div class="row">

		<div class="col-md-8">
			<%= yield %>
		</div>

		<aside class="col-md-4">

		<div id="ang">
			<p></p>
    		<%=render 'layouts/ang'%>
    	</div>
			
			
			
		<div>
			<%if @datepicker || @homepage%>
				<%= render :partial => 'layouts/datepicker'%>
			<%end%>
		</div>
			
		<div id="cart" class="">
			<%if @cart.line_items.empty?%>
			<h4 style="padding:10px">No tickets selected <span class="glyphicon glyphicon-shopping-cart"></span></h4>
			<%end%>
	      <% if @cart%>
	          <%= hidden_div_if(@cart.line_items.empty?) do %>
	              <%= render :partial => 'carts/cart', :object => @cart %>
	          <% end %>
	      <% end %>
	      
    	</div>
<div id="ad">
    		<%=render 'layouts/dummyad'%>
    	</div>
    	
		</aside>

		</div>
	</div>
	<footer>
		<div class="container">
			<h4>Footer</4>
		</div>
	</footer>
	
<%= javascript_include_tag "application" %>
</body>
</html>
