<!DOCTYPE html>
<html>
<head>
  <title>Venue</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  
  
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" id="adminbar">
		<div class="container">
			<div id="user_nav">
				<%= render 'layouts/usernav'%>
			</div>
		</div>
	</nav>

	<nav class="navbar navbar-static-top navbar-default">
		<div class="container">
			<%=link_to  root_path, id: "logo" do %>
  				<img src="/tor-logo.png"%>
  
			<% end %>
			
			<div class="pull-right" id="main-nav">
				<%= render 'layouts/adminmenu'%>
			</div>
		</div>
	</nav>
<div class="container">
	<div class="row">
		<% [:notice, :error, :alert].each do |level| %>
			<% unless flash[level].blank? %>
				<div class="alert alert-<%= flash_class(level) %> fade ">
				<a class="close" data-dismiss="alert" href="#">×</a>
					<%= content_tag :p, flash[level] %>
				</div>
			<% end %>
		<% end %>
	</div>
	</div>
</div>
<div class="container">
	
	
	<div class="row">

		<div class="col-md-8">
			<%= yield %>
		</div>

		<div class="col-md-4">
			
			

			
		<div id="cart">
	      <% if @cart%>
	          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
	              <%= render :partial => 'carts/cart', :object => @cart %>
	          <% end %>
	      <% end %>
    	</div>
		</div>

		</div>
	</div>
	<footer>
		<div class="container">
			<h4>Footer</4>
		</div>
	</footer>
  <%= javascript_include_tag "application" %>
</body>
</html>
